RewriteEngine on  //on为打开,off为关闭
RewriteRule ^login$ login.php
RewriteRule ^index$ index.php  
RewriteRule ^sign-up$ sign-up.php 
RewriteRule ^personal$ personal.php 
RewriteRule ^reset-pass$ reset-pass.php 
RewriteRule ^posts$ posts.php 
RewriteRule ^posts-all$ posts-all.php 
RewriteRule ^posts-all-delete$ posts-all-delete.php 
RewriteRule ^posts-pass$ posts-pass.php 
RewriteRule ^posts-return$ posts-return.php 
RewriteRule ^posts-wait$ posts-wait.php 
RewriteRule ^users-spe$ users-spe.php  
RewriteRule ^spe-delete$ spe-delete.php 
RewriteRule ^users-author$ users-author.php 
RewriteRule ^author-delete$ author-delete.php
ErrorDocument 404 /404.txt 